@page
@model WMSClientApp.Pages.LoginModel
@{
    ViewData["Title"] = "Login Page";
}

<div class="w-50 mx-auto my-5 login-content">
</div>

<div class="modals"></div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/login.js" asp-append-version="true"></script>
