@page
@model WMSClientApp.Pages.Employees.TransactionIndexModel
@{
    ViewData["Title"] = "Transaction Index";
}

<style>
    thead input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

    .columns {
        cursor: pointer;
    }

    .button-actions {
        cursor: pointer;
    }
</style>

<div id="list-title">
</div>
<div id="list-content">
</div>

<div class='progress' id='preLoaderBar'>
    <div class='indeterminate' />
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/employees/transactionEmployeeIndex.js" asp-append-version="true"></script>